body#sunfw-master .module-style-2 {
  background: #333;
}
body#sunfw-master .module-style-2 .module-title .box-title {
  background: #97ab61;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
body#sunfw-master .module-style-2 .module-title .box-title:before, body#sunfw-master .module-style-2 .module-title .box-title i[class*='fa-'] {
  color: #fff;
}
body#sunfw-master .module-style-2 .module-body, body#sunfw-master .module-style-2 .custom {
  color: #fff;
}
body#sunfw-master .module-style-3 .module-title .box-title {
  background: #fff;
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
}
body#sunfw-master .module-style-3 .module-title .box-title:before, body#sunfw-master .module-style-3 .module-title .box-title i[class*='fa-'] {
  color: #333;
}
body#sunfw-master .module-style-1 {
  background: #e8e8e8;
}
body#sunfw-master .module-style-1 .module-title .box-title {
  background: #333;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
body#sunfw-master .module-style-1 .module-title .box-title:before, body#sunfw-master .module-style-1 .module-title .box-title i[class*='fa-'] {
  color: #fff;
}
body#sunfw-master .module-style-1 .module-body, body#sunfw-master .module-style-1 .custom {
  color: #333;
}
body#sunfw-master .module-style-4 .module-title .box-title {
  font-size: 18px;
  text-transform: uppercase;
}
